*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: sans-serif;
}
body{
	height: 100%;
	background-color: #eee;
	display: flex;
	flex-direction: column;
	transition-duration: 1s;
}
header{
	display:flex;
	justify-content: space-between;
	flex-direction:column;
	height:20em;
}
section{
	padding: 2em;
}
.sub_head_cont{
}
.theme_change_cont{
	height: 3em;
	display: flex;
	align-items: center;
}
.slide_toggle{
	position: relative;
	height: 100%;
	width: 3.5em;
	margin: 0 .5em 0 2em;
	cursor: pointer;
}
.line{
	position: absolute;
	top: calc(50% - .25em);;
	left: 0;
	background-color: #999;
	height: .5em;
	width: 100%;
	border-radius: .5em;
	box-shadow: inset 0 0 3px rgba(0,0,0,0.5);
}
.circle{
	position: absolute;
	top: calc(50% - .75em);
	left:0;
	background-color: #00f;
	height: 1.5em;
	width: 1.5em;
	border-radius: 50%;
	transition-duration: 1s;
	box-shadow: 0px 1px 4px rgba(0,0,0,.7);
}
.theme_change_cont>span{
	font-family: sans-serif;
	transition-duration: 1s;
}
.search_form_cont{
	height: 3em;
	display: flex;
	justify-content: center;
}
.search_form_cont>form{
	position: relative;
	width: 30em;
}
.search_form_cont>form>input{
	font-family: sans-serif;
	background-color: transparent;
	height: 100%;
	width: 100%;
	padding: 0 4.5em 0 1em;
	border:none;
	border-bottom: .2em solid #000;
	transition-duration: .5s;
}
.search_form_cont>form>input:focus{
	border-bottom: .2em solid #e74c3c;
}
.search_form_cont>form>button{
	position: absolute;
	top: 0;
	right: 0;
	width: 4em;
	height: 100%;
	border:none;
	background-color: transparent;
	display:flex;
	justify-content: center;
	align-items: center;
}
.search_form_cont>form>button>img{
	height: 80%;
	width: 3em;
}
.search_result_cont{
	display: flex;
	flex-direction: column;
	justify-content: center;
	transition-duration: 1s;
}
.search_result_cont_show{
	background-color: #fff;
	min-height: 5em;
	box-shadow: 0 2px 5px rgba(0,0,0,0.5);
}

.sub_result_cont{
	visibility:collapse;
	display: flex;
	flex-direction: column;
	justify-content: center;
	color: #fff;
	min-height: 10em;
	padding: 1em;
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
.sub_result_cont>div:first-child{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 1em;
}
.breach_found{
	background: linear-gradient(135deg,#320f0f 0,#ba4343 100%);
}
.sub_breach{
	margin: 1em 0;
}
.breach_head{
	
}
.breach_head>h2{
	font-size: 2em;
	margin-bottom: 1em;
}
.breach_desc_cont{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.breach_desc_cont>div{
	display: flex;
	width: 80%;
}
.breach_desc_cont>div>div:first-child{
	text-align: center;
	width: 20%;
	padding: 1em;
}
.breach_desc_cont>div>div:first-child>img{
	width: 60%;
	height: 60%;
}
.breach_desc_cont>div>div:last-child{
	width: 80%;
	padding: 1em;
}
.breach_desc_cont>div>div:last-child>*{
	margin-bottom: .5em;
}
.breach_pastes_cont{
	border-top: 1px solid #fff;
	padding-top: 2em;
	display: flex;
	justify-content: center;
}
.breach_pastes_cont>div{
	width: 60%;
}
.breach_pastes_cont>div>h2{
	margin-bottom: 1em;
}
.breach_pastes_cont>div>table{
	width: 100%;
	border-collapse: collapse;
	display: inline-table;
	text-align: left;
}
.breach_pastes_cont>div>table>thead{
	background-color: #004343;
}
.breach_pastes_cont>div>table tr{
	height: 2.5em;
}
.breach_pastes_cont>div>table>tbody>tr:nth-child(odd){
	background-color: rgba(255,255,255,.2);
}
.breach_pastes_cont>div>table td,.breach_pastes_cont>div>table th{
	padding: 0 0 0 .5em;
}
.breach_pastes_cont>div>table tr>td:first-child{
	width: 60%;
}

.breach_not_found{
	background: linear-gradient(135deg,#0f3212 0,#348f38 100%);
}
.breach_not_found>div>h2{
	margin-bottom: .5em;
}

body[class~="dark_theme"]{
	background-color: #333;
}
.search_result_cont_show[class~="dark_theme"]{
	background-color: #282923;
}
.search_form_cont>form>input[class~="dark_theme"]{
	color: #fff;
	border-bottom: .2em solid #fff !important;
}
.search_form_cont>form>input[class~="dark_theme"]:focus{
	border-bottom: .2em solid #e74c3c !important;
}
.theme_change_cont>span[class~="dark_theme"]{
	color: #fff;
}
.loader{
	background-color: rgba(0,0,0,0.5);
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
}
.loader>img{
	width: 5em;
}